 <!-- Search Wrapper Area Start -->
 <div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img src="assets/img/core-img/search.png" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a routerLink="/home"><img src="assets/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a>
        </div>
        
    </header>
    <!-- Header Area End -->

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div style="margin-left: 200px;" class="col-12 col-lg-7">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2>Sign In</h2>
                        </div>

                        <form #addForm="ngForm" (ngSubmit)="onAddMission(addForm)">
                            <div class="row">
                                
                                <div class="col-12 mb-3">
                                    <input ngModel name="email" type="email" class="form-control"  placeholder="Email" value="">
                                </div>
                               
                                
                                <div class="col-12 mb-3">
                                    <input ngModel name="pass" type="password"class="form-control"  placeholder="Password" value="">
                                </div>
                                
                                <div style="margin-left:200px;" class="col-md-5 mb-3" >
                                    <button  class="btn amado-btn w-100">Sign In</button>

                                </div>

                                <div style="margin-left:250px; " class="col-md-5 mb-3">
                                    <a style="font-size: 12px;" routerLink="/signup">Create an accout</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
