<!-- Search Wrapper Area Start -->
<div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img src="assets/img/core-img/search.png" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a routerLink="/home"><img src="assets/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a routerLink="/home"><img src="assets/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
                <li class="active"><a routerLink="/home">Home</a></li>
                <li><a routerLink="/shop">Shop</a></li>
                <li><a *ngIf="isAdmin" routerLink="/product-details">Product</a></li>
                <li><a routerLink="/cart">Cart </a> </li>
                <li><a routerLink="/reclamation">Claim</a></li>
                <li><a routerLink="/command">Command</a></li>
                <li><a *ngIf="isAdmin"  routerLink="/offre">Offre</a></li>
                <li><a *ngIf="isAdmin" routerLink="/client">Client</a></li>
                <li><a (click)="logout()">Logout</a></li>
               <!--   <li><a routerLink="/checkout">Checkout</a></li>
             <li><a routerLink="/signin">Sign in</a></li>
             --> 
               

            </ul>
        </nav>
        <!-- Button Group -->
        <div class="amado-btn-group mt-30 mb-100">
            <a routerLink="/home" class="btn amado-btn mb-15">Confi</a>
        </div>
        <!-- Cart Menu -->
        <div class="cart-fav-search mb-50">
            <a routerLink="/cart" class="cart-nav"><img src="assets/img/core-img/cart.png" alt=""> Cart <span>(0)</span></a>
            <a routerLink="/home" class="search-nav"><img src="assets/img/core-img/search.png" alt=""> Search</a>
        </div>
        <!-- Social Button -->
        <div class="social-info d-flex justify-content-between">
            <a routerLink="/home"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a routerLink="/home"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a routerLink="/home"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a routerLink="/home"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- Header Area End -->



    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix"  >
        <div class="amado-pro-catagory clearfix">
           
         
            <div *ngFor="let product of produits ; let i = index" >
            <div class="single-products-catagory clearfix "  >
               
                <a [routerLink]="['/product-configuator', ]">
                    <img src="http://localhost:3000/uploads/{{product.image}}" alt="">
             
                    <div class="hover-content">
                        <div class="line"></div>
                   
                        <h4>{{product.nom}}</h4>
                    </div>
                </a>
            </div>
      
        </div>
            
            <!-- 
                  <product-details  *ngFor="let product of produits" ></product-details>
            <div class="single-products-catagory clearfix">
                <a routerLink="/">
                    <img src="assets/img/bg-img/1.png" alt="">
             
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Piece Montée</h4>
                    </div>
                </a>
            </div>

            
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/2.png" alt="">
           
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Cheesecake</h4>
                    </div>
                </a>
            </div>

         
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/3.png" alt="">
                 
                    <div class="hover-content">
                        <div class="line"></div>
                        <h4>Mug magique</h4>
                    </div>
                </a>
            </div>

          
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/4.png" alt="">
                    
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Cupcake</h4>
                    </div>
                </a>
            </div>

        
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/5.png" alt="">
                    
                    <div class="hover-content">
                        <div class="line"></div>
                       
                        <h4>Assiette</h4>
                    </div>
                </a>
            </div>

 
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/6.png" alt="">
                  
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Mug personnalisé</h4>
                    </div>
                </a>
            </div>

          
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/7.png" alt="">
               
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Mug personnalisé</h4>
                    </div>
                </a>
            </div>

         Single Catagory
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/8.png" alt="">
                
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Modern Rocking Chair</h4>
                    </div>
                </a>
            </div>
           
            
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/9.png" alt="">
               
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Cupcake</h4>
                    </div>
                </a>
            </div>
            
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart1.png" alt="">
                   
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Assiette Traditionnelle</h4>
                    </div>
                </a>
            </div>
            
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart2.png" alt="">
                   
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Chapeau Borsalino</h4>
                    </div>
                </a>
            </div>
       
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart3.png" alt="">
                 
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Gâteau Anniversaire</h4>
                    </div>
                </a>
            </div>
        
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart4.png" alt="">
             
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Gâteau Anniversaire</h4>
                    </div>
                </a>
            </div>

   
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart5.png" alt="">
                   
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Canette</h4>
                    </div>
                </a>
            </div>

           
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart6.png" alt="">
                 
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Mini Cake</h4>
                    </div>
                </a>
            </div>
    
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart7.png" alt="">
               
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Popcorn</h4>
                    </div>
                </a>
            </div>
          
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart8.png" alt="">
                
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Box Cadeau</h4>
                    </div>
                </a>
            </div>
            
            <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart9.png" alt="">
                  
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Mini Cake</h4>
                    </div>
                </a>
            </div>

            
               <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/cart10.png" alt="">
           
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Box Cadeau</h4>
                    </div>
                </a>
            </div>

             
             <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/10.png" alt="">
                    
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Tasse à Café</h4>
                    </div>
                </a>
            </div>

              
              <div class="single-products-catagory clearfix">
                <a routerLink="/shop">
                    <img src="assets/img/bg-img/11.png" alt="">
                    
                    <div class="hover-content">
                        <div class="line"></div>
                        
                        <h4>Box Chocolat</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
d-->
</div>
</div>
</div>
<!-- ##### Main Content Wrapper End ##### -->

